@import "~bootstrap/scss/bootstrap";
@import url('https://fonts.googleapis.com/css2?family=Kalam:wght@400;700&display=swap');

@font-face {
  font-family: 'Visby Heavy';
  src: url('VisbyHeavy.woff') format('woff');
}
@font-face {
  font-family: 'Visby Bold';
  src: url('VisbyBold.woff') format('woff');
}
@font-face {
  font-family: 'Helsinki';
  src: url('helsinki-webfont.woff') format('woff');
}

.navbar{
  z-index: 1;
}

.visbyB{
  font-family: 'Visby Bold', sans-serif;
}

.helsinki{
  font-family: 'Helsinki', sans-serif;
}

.kalam{
  font-family: "Visby Bold", sans-serif;
}


h1{
  font-family: 'Helsinki', sans-serif;
  font-size: 3rem;
  margin-top: 4rem;
  margin-bottom: 2rem;
  color: #0000ff;
}

h2,h3,h4{
  font-family: 'Visby Bold', sans-serif;
  margin-top: 3rem;
}

p, a{
  font-size: 1.25rem;
}

.btn:hover{
  font-family: "Helsinki", sans-serif;
  //color: #0000ff !important;
  color: black
}

.btn-bleu:hover{
  color: #0000ff !important;
}


.text-primary{
  color: #0000ff !important;
}
.btn-primary{
  background-color: #0000ff !important;
  color:white;
}


// line animation

.path {
  stroke-dasharray: 4200;
  stroke-dashoffset: 4400;
  animation: dash 7s linear alternate 20;
}

@keyframes dash {
  from {
    stroke-dashoffset: 4200;
  }
  to {
    stroke-dashoffset: 0;
  }
}

// overlay gallery

.cont {
  position: relative;
}

.image {
  display: block;
  width: 100%;
  height: auto;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #9CC3D5;
  border: solid 5px #0000ff;
}

.cont:hover .overlay {
  opacity: 75;
}

.text {
  color: #0000ff;
  font-family: 'Helsinki', sans-serif;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

