@import "~bootstrap/scss/bootstrap";

// FONTS ----------------------------------------------------

@font-face {
  font-family: 'Satoshi Bold';
  src: url('Satoshi-Bold.otf') format('otf');
}

@font-face {
  font-family: 'Satoshi Medium';
  src: url('Satoshi-Medium.otf') format('otf');
}

body{
 padding: 0;
  margin: 0;
  overflow-x: hidden;
}


// TEXT STYLES ----------------------------------------------------

h1{
  font-weight: bold;
  text-transform: uppercase;
  font-size: 10vw;
  font-family: "Satoshi Bold", 'sans-serif';
}


h2{
  text-transform: uppercase;
  font-size: 1.5rem;
  font-family: "Satoshi Medium", 'sans-serif';

}

p{
  font-size: 1.25rem;
}



  //@media(min-width: 80rem) {
  //
  //}




// BUTTONS ----------------------------------------------------

// Horizontal scroll with arrows ----------------------------------------------------

/*
For more details-
https://www.testkarts.com/blog/horizontal-card-scroll-with-arrow */
.cover {
  position: relative;
  padding: 0 30px;
  margin-top: 100px;
}

.left {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}

.right {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

.scroll-images {
  position: relative;
  width: 100%;
  height: auto;
  display: flex;
  flex-wrap: nowrap;
  overflow-x: hidden;
  overflow-y: hidden;
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;
}

.child {
  min-width: 250px;
  height: auto;
  overflow: hidden;

}


.scroll-images::-webkit-scrollbar {
  width: 5px;
  height: 8px;
  background-color: #aaa;
}

.scroll-images::-webkit-scrollbar-thumb {
  background-color: black;
}

button {
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  font-size: 25px;
}

