{% extends 'base.html.twig' %}

{% block title %}Hello ProjectController!{% endblock %}

{% block body %}
<h1>Add project</h1>

    {{  form_start(formProject) }}
    {{  form_row(formProject.name) }}
    {{  form_row(formProject.description) }}
    <button class="btn btn-primary" type="submit">OK</button>
    {{  form_end(formProject) }}

{% endblock %}
